/* External CSS file. */
h2 {
	color: whitesmoke;
	text-decoration: underline; /* And/or overline, line-through. */
}

body {
	font-family: Arial, Helvetica, sans-serif; /* Desired font with fallbacks; including a generic. */
	font-size: normal; /* 16px. See CSS Units (Absolute & Relative) for details. */
	font-style: normal; /* italic, oblique, oblique <angle>, ... */
	font-variant: normal; /* small-caps, slashed-zero, tabular-nums, ... */
	font-weight: normal; /* Can specify values; normal = 400, bold = 900 */

	color: #A0FFA0; /* lightgreen */
	background-color: #000000; /* black */
	
	margin-left: 30vw;
	margin-right: 30vw;
}

/* Like default <code> tagged-text. */
blockquote.code {
	font-family: monospace;
	font-variant: slashed-zero;
}

/* Ad-hoc Footer */
p.copyleft {
	font-family: "Times New Roman", Times, serif;
	font-size: 10px;
	font-style: italic;
	text-align: center;
}
